<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Post</title>
    <div th:replace="fragment/layout::head"></div>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
</head>
<body>

<div th:replace="fragment/layout::header"></div>

<div class="mt-5" style="width: 500px; margin: auto; font-size: 36px;">Register Post</div>

<div class="mt-3 mb-5" style="width:500px; margin:auto; padding: 20px; border: 1px solid #e4e2dd">
    <form enctype="multipart/form-data" method="post" th:action="@{/posts/register}" th:object="${post}">

        <input th:field="*{id}" type="hidden">

        <div class="form-group row">
            <label class="col-form-label col-sm-3" for="title">Title : </label>
            <div class="col-sm-9">
                <input class="form-control" id="title" th:field="*{title}" type="text">
                <div class="validation" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3" for="cat">Categories : </label>
            <div class="col-sm-9">
                <select class="selectpicker" id="cat" multiple th:field="*{categories}">
                    <option th:each="category : ${categories}"
                            th:text="${category.title}"
                            th:value="${category.id}"></option>
                </select>
                <div class="validation" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3" for="cover">Cover : </label>
            <div class="col-sm-9">
                <input class="form-control-file" id="cover" th:field="*{file}" type="file">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3" for="body">Body : </label>
            <div class="col-sm-9">
                <textarea class="form-control" id="body" style="height: 150px;" th:field="*{body}"></textarea>
                <div class="validation" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7"></div>
            <div class="col-sm-5">
                <input class="btn btn-primary form-control" type="submit">
            </div>
        </div>
    </form>
</div>
</body>
</html>