<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Categories</title>
    <div th:replace="fragment/layout::head"></div>
</head>
<body>

<div th:replace="fragment/layout::header"></div>

<div class="container-fluid m-0 p-4">

    <a class="mb-2 btn btn-primary" style="width: 100px" th:href="@{/categories/register}">
        NEW
    </a>


    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Operation</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="category : ${categories}">
            <th scope="row" th:text="${category.id}"></th>
            <td th:text="${category.getTitle()}"></td>
            <td>
                <a class="btn btn-success" style="width: 80px"
                   th:href="@{/categories/edit/{id}(id=${category.getId()})}">Edit</a>
                <a class="btn btn-danger"
                   data-toggle="modal"
                   href="#"
                   style="width: 80px" th:data-target="'#delete'+${category.getId()}">
                    Delete
                </a>

                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" role="dialog"
                     tabindex="-1" th:id="'delete'+${category.getId()}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span th:text="'Are You Sure to Delete '"></span>
                                <strong th:text="${category.getTitle()}"></strong>
                                <span th:text="' ?'"></span>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <a class="btn btn-danger" th:href="@{/categories/delete/{id}(id=${category.getId()})}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>


            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>