<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Categories</title>
    <div th:replace="fragment/layout::head"></div>
</head>
<body>

<div th:replace="fragment/layout::header"></div>

<div class="container-fluid m-0 p-4">

    <a th:href="@{/categories/register}" class="mb-2 btn btn-primary" style="width: 100px">
        NEW
    </a>


    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>varzeshi</td>
            <td>
                <a class="btn btn-success" href="#" style="width: 80px">Edit</a>
                <a class="btn btn-danger" href="#" style="width: 80px">Delete</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>farhangi</td>
            <td>
                <a class="btn btn-success" href="#" style="width: 80px">Edit</a>
                <a class="btn btn-danger" href="#" style="width: 80px">Delete</a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>siasi</td>
            <td>
                <a class="btn btn-success" href="#" style="width: 80px">Edit</a>
                <a class="btn btn-danger" href="#" style="width: 80px">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>