<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <div th:replace="fragment/layout::head"></div>
</head>
<body>

<div th:replace="fragment/layout::header"></div>

<div class="container-fluid mt-3 pl-5 pr-5" style="background-color: gray">

    <a href="#" class="text-dark">
        <div class="card mr-3 mb-4" style="width: 18rem; float: left;">
            <img class="card-img-top border-bottom border-secondary" src="img/1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
            <div class="card-footer">
                <p class="text-center small text-muted m-0 p-0">Last Updated : 2019-07-13</p>
            </div>
        </div>
    </a>

    <a href="#" class="text-dark">
        <div class="card mr-3 mb-4" style="width: 18rem; float: left;">
            <img class="card-img-top border-bottom border-secondary" src="img/1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
            <div class="card-footer">
                <p class="text-center small text-muted m-0 p-0">Last Updated : 2019-07-13</p>
            </div>
        </div>
    </a>

    <a href="#" class="text-dark">
        <div class="card mr-3 mb-4" style="width: 18rem; float: left;">
            <img class="card-img-top border-bottom border-secondary" src="img/1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
            <div class="card-footer">
                <p class="text-center small text-muted m-0 p-0">Last Updated : 2019-07-13</p>
            </div>
        </div>
    </a>

    <a href="#" class="text-dark">
        <div class="card mr-3 mb-4" style="width: 18rem; float: left;">
            <img class="card-img-top border-bottom border-secondary" src="img/1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
            <div class="card-footer">
                <p class="text-center small text-muted m-0 p-0">Last Updated : 2019-07-13</p>
            </div>
        </div>
    </a>

    <a href="#" class="text-dark">
        <div class="card mr-3 mb-4" style="width: 18rem; float: left;">
            <img class="card-img-top border-bottom border-secondary" src="img/1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
            <div class="card-footer">
                <p class="text-center small text-muted m-0 p-0">Last Updated : 2019-07-13</p>
            </div>
        </div>
    </a>

    <a href="#" class="text-dark">
        <div class="card mr-3 mb-4" style="width: 18rem; float: left;">
            <img class="card-img-top border-bottom border-secondary" src="img/1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
            </div>
            <div class="card-footer">
                <p class="text-center small text-muted m-0 p-0">Last Updated : 2019-07-13</p>
            </div>
        </div>
    </a>



</div>

</body>
</html>