<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="fragment/layout::head"></div>
</head>
<body>
<div class="mt-5" style="width: 500px; margin: auto; font-size: 36px;">Login</div>

<div class="mt-3 mb-5" style="width:500px; margin:auto; padding: 20px; border: 1px solid #e4e2dd">
    <form th:action="@{/login}" method="post">
        <div class="form-group row">
            <label class="col-form-label col-sm-3" for="email">Email : </label>
            <div class="col-sm-9">
                <input class="form-control" name="email" id="email" type="text">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3" for="password">Password : </label>
            <div class="col-sm-9">
                <input class="form-control" name="password" id="password" type="password">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7"></div>
            <div class="col-sm-5">
                <input class="btn btn-primary form-control" type="submit">
            </div>
        </div>

    </form>
</div>


</body>
</html>